name: Haskell CI

on: 
  pull_request:
  push:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: cachix/install-nix-action@v6
    - run: |
        nix-env -f https://github.com/NixOS/nixpkgs-channels/archive/nixos-17.09.tar.gz -iA redis
        redis-server --daemonize yes --protected-mode no
    - run: |
        redis-cli -p 6379 info
        redis-cli -p 6379 CONFIG GET dir
#        redis-cli -s /tmp/redis.sock
#        nix-build -I nixpkgs=https://github.com/NixOS/nixpkgs-channels/archive/nixos-17.09.tar.gz
    - run: redis-cli shutdown
     
#  build:

#    runs-on: ubuntu-latest

#    steps:
#    - uses: actions/checkout@v1
#    - uses: actions/setup-haskell@v1
#      with:
#        ghc-version: '8.6.5'
#        cabal-version: '3.0'
#    - name: Install dependencies
#      run: |
#        cabal update
#        cabal install --only-dependencies --enable-tests
#    - name: Build
#      run: |
#        cabal configure --enable-tests
#        cabal build
#    - name: Run tests
#      run: cabal test
