name: Haskell CI

on: 
  pull_request:
  push:

jobs:
  vm-job:
    runs-on: ubuntu-latest

#    services:
#      redis:
#        image: redis
#        ports:
#        - 6379/tcp
#        options: --entrypoint redis-server

    steps:
      - uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: '5.x'
          auto-start: "true"  
      - run: redis-cli ping
      - uses: actions/checkout@v1
      - uses: cachix/install-nix-action@v6
      - uses: cachix/cachix-action@v2
        with:
          name: 573-ci
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
# https://github.com/actions/example-services/blob/master/.github/workflows/redis-service.yml uses - run: ... with a working-directory: ./redis here which is not allowed for cachix-action, would need to have an extra run: step as with cachix/install-nix-action@v6
        env:
          REDIS_HOST: 127.0.0.1
          REDIS_PORT: 6379
